/build/
/build/ 
/target/ 
*.war 
*.jar 
/build/ 
/target/ 
/.settings/ 
*.war 
*.jar 
*.class 
/build/ 
/target/ 
/.settings/ 
*.war 
*.jar 
*.class 
/target/ 
/build/ 
/.settings/ 
*.class 
*.jar 
*.war 
.classpath 
.project 
